<div class="tab-pane fade" id="manage-surveillance-cameras">
    <h3>Administrare camere de supraveghere</h3>
      <div class="table-responsive">
        <table class="table table-bordered" id="surveillance-camera-table">
          <thead>
            <tr>
              <th>Denumire</th>
              <th>Status</th>
              <th>Descriere</th>
              <th>Data inițierii</th>
              <th>Last update</th>
              <th>Acțiuni</th>
            </tr>
          </thead>
          <tbody>

            {% for camera in cameras %}
            <tr>
              <td>
                <i class="fas fa-video"></i>&nbsp;
                <b>{{ camera.name }}</b>
              </td>
              <td>
                <span class="font-weight-bold {{ 'text-success' if camera.status.id == 1 else 'text-danger' }}">
                  {{ camera.status.name }}
                </span>
              </td>
              <td>{{ camera.description }}</td>
              <td>{{ camera.last_restart }}</td>
              <td>{{ camera.last_update }}</td>
              <td class="col-md-1">
                <div class="actions-list">
                  <div class="clickable icon-action text-success"> 
                    <i class="fa fa-refresh"></i>
                    <span>Actualizează</span>
                  </div>
                  <div class="clickable icon-action">
                    <i class="fas fa-edit"></i>
                    <span>Editează</span>
                  </div>
                  <div class="clickable icon-action"> 
                    <i class="fas fa-trash-alt"></i>
                    <span>Deconectează</span>
                  </div>
              </div>
              </td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
      </div>

      <button class="btn btn-success mt-2" data-toggle="modal" data-target="#add-camera-modal">Adăugare cameră de supraveghere</button>

      <!-- Add new camera modal -->
      <div class="modal fade" id="add-camera-modal" tabindex="-1" role="dialog" aria-labelledby="addCameraModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addCameraModalLabel">Adăugare cameră de supraveghere</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Form fields for adding a new user -->
              <form>
                <div class="form-group">
                  <label for="name">Nume</label>
                  <input type="text" class="form-control" id="name" placeholder="Introduceți numele">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Introduceți adresa de email">
                </div>
                <div class="form-group">
                  <label for="phone">Număr de telefon</label>
                  <input type="tel" class="form-control" id="phone" placeholder="Introduceți numărul de telefon">
                </div>
                <!-- Add more form fields as needed -->
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Închide</button>
              <button type="button" class="btn btn-primary">Salvează</button>
            </div>
          </div>
        </div>
      </div>
    </div>