<div class="col-md-3">
<ul class="nav nav-pills flex-column ">
    <li class="nav-item"><a class="btn-secondary nav-link" id="profile" href="">Profil</a></li>
    <li class="nav-item pt-1"><a class="nav-link" style="color: gray;" id="change-password" href="/profile/manage_password">Schimbă parola</a></li>
</ul>
</div>
<div class="col-md-9">
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div class="form-group">
                <label for="Email">Email:</label>
                <input id="Email" class="form-control"/ disabled>
            </div>
            <div class="form-group">
                <label for="PhoneNumber">Număr de telefon:</label>
                <input id="PhoneNumber" maxlength="15" class="form-control"/>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Salvează</button>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="alert" id="phone-change-response-box" role="alert"></div>
</div>
</div>