<div class="container mt-4" id="change-password">
  <div class="row">
    <div class="col-lg-10">
      <h4 class="text-left mb-4">Schimbă parola</h4>
      <form method="POST" action="" style="border: 1px solid #ccc; padding: 20px; border-radius: 5px;">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <label for="{{ form.old_password.id }}">Parolă veche</label>
          {{ form.old_password(class="form-control") }}
        </div>
        <div class="form-group">
          <label for="{{ form.new_password.id }}">Parolă nouă</label>
          {{ form.new_password(class="form-control") }}
        </div>
        <div class="form-group">
          <label for="{{ form.repeat_password.id }}">Rescrieți parola nouă</label>
          {{ form.repeat_password(class="form-control") }}
        </div>
        <div class="text-left">
          {{ form.submit(class="btn btn-primary") }}
        </div>
      </form>
    </div>
  </div>
  
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% if category == 'error' %}
        <div class="text-left">
          <div class="mt-4 alert alert-danger" role="alert">
            {{ message }}
          </div>
        </div>
      {% else %}
        <div class="text-left">
          <div class="mt-4 alert alert-success" role="alert">
            {{ message }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
</div>