<footer>
    <p>&copy; 2023 Eduard Miclos</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/esm/popper-base.js"
        integrity="sha384-eBjK9XWc+UiApvwhqT/RKtyr3s8xWpw1sTURZmQbZKpl8omcWbAfl+bNu3CqjKck"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-T2H5wC7V+5rl5gZ7Oiky6pMJo7V77oRT+iHz/z7x0xKLLZTEq1qU6p4U6HLdJf1j"
        crossorigin="anonymous"></script>
{% block scripts %}
{% endblock %}
</body>
</html>